body {
	background-color: black;
	color: white;
}

button {
	background-color: gray;
	border: solid 1px gray;
	border-radius: 5px;
}

#result {
	color: rgb(54, 202, 228);
	margin-top: 20px;
}

@media (max-width: 800px) {
	h1 {
		text-align: center;
	}

	.input {
		width: 100%;
		text-align: center;
	}
}
